# Organization Vitals Test
productName=LNRS - Coplogic
projectName=eCrash - Keying
wss.url=https://app-eu.whitesourcesoftware.com/agent
vulnerable.check.run.conclusion.level=success

# General policies
checkPolicies=true
#enableImpactAnalysis=true
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=true
updateInventory=true

resolveAllDependencies=false

# Project Language Specific
php.resolveDependencies=true

html.resolveDependencies=true


includes=**/*.js,**/*.php

case.sensitive.glob=false
followSymbolicLinks=true