<?php
/**
 * @copyright (c) 2020 LexisNexis. All rights reserved.
 */

return [
    'db' => [
        'master' => [
            'driver'    => 'PDO_MYSQL',
            'host'      => 'dbsec-ala.risk.regn.net',
            'dbname'    => 'ecrash_v3',
            'username'  => '${RESOURCES_MULTIDB_MASTER_USERNAME}',
            'password'  => '${RESOURCES_MULTIDB_MASTER_PASSWORD}',
            'port'      => '3306',
            'charset'   => 'utf8'
        ],
        
        'iyetek' => [
            'driver'    => 'PDO_MSSQL',
            'host'      => 'ALAWPCPLSQLCL2.NOAM.LNRM.NET',
            'dbname'    => 'ProdLESS',
            'username'  => '${RESOURCES_MULTIDB_IYETEK_USERNAME}',
            'password'  => '${RESOURCES_MULTIDB_IYETEK_PASSWORD}',
            'port'      => '50621',
            'charset'   => 'utf8',
            'pdoType'   => 'dblib'
        ],
        
        'mbs' => [
            'driver'    => 'Pdo_Mysql',
            'host'      => 'dbsaccsql-bct.risk.regn.net',
            'dbname'    => 'mbs_ecrash',
            'username'  => '${RESOURCES_MULTIDB_MBS_USERNAME}',
            'password'  => '${RESOURCES_MULTIDB_MBS_PASSWORD}',
            'port'      => '3310',
            'charset'   => 'utf8'
        ],
    ],
    
    'app' => [
        'db' => [
            'alias' => [
                'master'    => 'master',
                'slave'     => 'master',
            ],
        ],
        'webService' => [
           'messageQueue' => [
                'isitLogin'    => '${ISIT_LOGIN}',
                'isitPassword' => '${ISIT_PASSWORD}',
            ],
        ],
        'crashlogic' => [
            'login'    => '${APP_ECRASHLOGIC_LOGIN}',
            'password' => '${APP_ECRASHLOGIC_PASSWORD}',
        ],
    ],
    
    'vinLogin'      => '${VIN_LOGIN}',
    'vinPassword'   => '${VIN_PASSWORD}',
    
    'vinPlateLogin'     => '${VIN_PLATE_LOGIN}',
    'vinPlatePassword'  => '${VIN_PLATE_PASSWORD}',
    
    'mbs' => [
        'registration' => [
            'user'      => '${MBS_REGISTRATION_USER}',
            'password'  => '${MBS_REGISTRATION_PASSWORD}',
        ],
    ],

    'lnaa' => [
        'registration' => [
            'user'      => '${MBS_REGISTRATION_USER}',
            'password'  => '${MBS_REGISTRATION_PASSWORD}',
        ],
    ],
    
    // Not available in Zend 1, will be safe to keep it.
    'imageWSDL' => [
        'user' => '${IMAGEWSDL_USER}',
        'password' => '${IMAGEWSDL_PASSWORD}'
    ],
    
    'smtp' => [
        'host' => 'appmail-test.risk.regn.net',
        'port' => 25
    ]
];
